<mat-card>
  <mat-spinner *ngIf="isLoadingFlag"></mat-spinner>
  <!--
    Now we are going to connect or synchronize the template and our typescript. So we tell angular which
    input in the html file relates to which control where created in typescript because you could argue
    that the title control should obviously be that input because it has the name title, but angular
    does not infer this it gives you the flexibality of defining no name (name=title) here, you can now
    remove that or a different name so instead of relying on the name attribute what you do instead is
    you add a special directive here before that first of all you add a directive to your averall form,
    the formGroup directive, this formGroup directive takes your form object defined in typescript. It
    takes this and basically tells angualr hey for the form i created in typescript this is the html.
    And here on the input i can use a different directive formControlName and type the name of the
    control as we defined it in typescript. So now we connectet our input to our form control.
   -->
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoadingFlag">
      <mat-form-field>
          <input placeholder="Add Title"
          matInput
          type="text"
          formControlName="title">
          <!--Two ways of getting the value of input title-->
          <!-- 1.Using Form Control -->
          <!--<mat-error *ngIf="postForm.getControl('title').invalid">Title Cannot Be Blank</mat-error>-->
          <!-- 2.Using Reference -->
          <!--<mat-error *ngIf="title.invalid">Title Cannot Be Blank</mat-error>-->

          <!-- when using reactive declerative style of programming in order to access the title form
          control and we do this by accessing the overrall form and there you have a get() method which
          gives you access to a control where you pass the control name as title
              form.get('title')
          -->
        <!--<mat-error *ngIf="title.invalid">Title Cannot Be Blank</mat-error>-->

        <mat-error *ngIf="form.get('title').invalid">Title Cannot Be Blank</mat-error>
        <!-- The above statemet didn't work so modifed to the below one -->
        <!-- <mat-error *ngIf="form.get('title').value.invalid">Title Cannot Be Blank</mat-error> -->
        </mat-form-field>

<!-- We have proxy the material button with file type input. So on angular button click it
      behaves like input type file this is called proxying. Once its done next step is to register
    this input type file component as an input to our form component.
  Now we have to provide a functionality when the user uploads the image. So on the change method we
  invoke a function by actually forward the native DOM event we are getting here and i can access with
  $event, that's a special variable Angular gives me to access to event object an event well had. So the
  argument $event and therefor i can forward it to onImagePicked by passing in $event as an argument and
  define the method in our typescript file.
  -->
        <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()">Image</button>
          <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview && imagePreview !== ''">
          <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <mat-form-field class="example-full-width">
          <textarea
          matInput
          placeholder="Add Content"
          rows="6"
          formControlName="content"
          >
        <!-- Shortcut syntax is provided above instead of [formControlName]="'content'" -->
        </textarea>
        <mat-error *ngIf="form.get('content').invalid">Content Cannot Be Blank</mat-error>
        </mat-form-field>
        <button
        mat-raised-button
        color="primary"
        type="submit">Save Post</button>
  </form>
</mat-card>
